# Singleton service factory configuration/IoC injection
singletons:
# Default decryptor implementation
- com.networknt.utility.Decryptor:
  - com.networknt.decrypt.AESDecryptor
# StartupHookProvider implementations, there are one to many and they are called in the same sequence defined.
- com.networknt.server.StartupHookProvider:
  - com.networknt.oauth.cache.CacheStartupHookProvider
# ShutdownHookProvider implementations, there are one to many and they are called in the same sequence defined.
- com.networknt.server.ShutdownHookProvider:
  - com.networknt.oauth.cache.CacheShutdownHookProvider


- javax.sql.DataSource:
  - com.zaxxer.hikari.HikariDataSource:
      DriverClassName: oracle.jdbc.pool.OracleDataSource
      jdbcUrl: jdbc:oracle:thin:@oracledb:1521:XE
      username: SYSTEM
      password: oracle
      maximumPoolSize: 2
