{
  "swagger": "2.0",
  "info": {
    "description": "OAuth2 refresh token management microservices endpoints.",
    "version": "1.0.0",
    "title": "OAuth2 Refresh Token Management",
    "contact": {
      "email": "stevehu@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "oauth2.networknt.com",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/oauth2/refresh_token": {
      "get": {
        "description": "Return all refresh tokens",
        "operationId": "getAllRefreshToken",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Pag size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Partial userId for filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefreshToken"
              }
            }
          }
        },
        "security": [
          {
            "refresh_token_auth": [
              "oauth.refresh_token.r"
            ]
          }
        ],
        "x-accepts": "application/json",
        "x-contentType": "application/json"
      }
    },
    "/oauth2/refresh_token/{refreshToken}": {
      "get": {
        "description": "Get a refresh token",
        "operationId": "getRefreshToken",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "path",
            "description": "Refresh token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RefreshToken"
            }
          },
          "400": {
            "description": "Invalid refresh token supplied"
          },
          "404": {
            "description": "Refresh token not found"
          }
        },
        "security": [
          {
            "refresh_token_auth": [
              "oauth.refresh_token.r",
              "oauth.refresh_token.w"
            ]
          }
        ],
        "x-accepts": "application/json",
        "x-contentType": "application/json"
      },
      "delete": {
        "description": "Delete a refresh token",
        "operationId": "deleteRefreshToken",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "path",
            "description": "Refresh Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid refresh token supplied"
          },
          "404": {
            "description": "Refresh token not found"
          }
        },
        "security": [
          {
            "refresh_token_auth": [
              "oauth.refresh_token.w"
            ]
          }
        ],
        "x-accepts": "application/json",
        "x-contentType": "application/json"
      }
    },
    "/server/info": {
      "get": {
        "security": [
          {
            "refresh_token_auth": [
              "server.info.r"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "parameters": []
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "parameters": []
      }
    }
  },
  "securityDefinitions": {
    "refresh_token_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://localhost:8888/oauth2/code",
      "flow": "implicit",
      "scopes": {
        "oauth.refresh_token.w": "write oauth refresh token",
        "oauth.refresh_token.r": "read oauth refresh token",
        "server.info.r": "read server info"
      }
    }
  },
  "definitions": {
    "RefreshToken": {
      "type": "object",
      "required": [
        "clientId",
        "refreshToken",
        "userId"
      ],
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "refresh token"
        },
        "userId": {
          "type": "string",
          "description": "user id"
        },
        "clientId": {
          "type": "string",
          "description": "client id"
        },
        "scope": {
          "type": "string",
          "description": "service scopes separated by space"
        }
      }
    }
  }
}