.logo-text {
  font: 800 22px Muli, sans-serif;
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}

[role=banner]{
    background-color: #9e2159;
	display: flex;
	align-items: center;
	height: 48px;
}

[role=banner]>a {
    display: block;
    margin-right: 12px;
	text-decoration: none;
}


[role=banner]>div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

[role=banner] nav:first-of-type, [role=banner] nav:last-of-type {
    font-weight: 600;
	letter-spacing: .03em;
}

[role=banner] nav:first-of-type ul, [role=banner] nav:last-of-type ul {
    display: flex;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
    display: list-item;
}

[role=banner] nav:first-of-type a, [role=banner] nav:last-of-type a {
    color: #fff;
	display: block;
    padding: 3px 12px;
    border-radius: 4px;
    white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
}

[role=banner] nav:first-of-type a:visited, [role=banner] nav:last-of-type a:active{
    background-color: #5a1434;
}
